{{#each items}}
	<div class="mall-item" >
		<a class="wp100" href="../mall/mallDetail.html?code={{code}}">
			<div class="mall-item-img fl" style="background-image: url('{{formatImage advPic}}');"></div>
			<div class="mall-item-con fr">
				<p class="name pr60">{{name}}</p>
				<samp class="slogan">{{slogan}}</samp>
				<div class="price">
					<samp class="samp1">{{defaultProductPrice}}</samp>
					<samp class="samp2">市场参考价: ￥{{defaultProductOPrice}}</samp>
				</div>
			</div>
		</a>
		
    	<div class="collect {{formatLeaseIsCollect isCollect}}" data-code="{{code}}"></div>
	</div>
    
{{/each}}
